<p id="notice"><%= notice %></p>

<h3><%= @activity.summary %></h3>

<p><%= link_to 'Warhorn page', @activity.url %></p>

<p>Start: <%= @activity.dtstart %></p>
<p>End: <%= @activity.dtend %></p>

<p><%= simple_format @activity.description %></p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
